.footer__header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  //border: 4px solid red;
  background: #fff;

  .link_infos {
    display: flex;
    width: 100%;
    // height: auto;
    height: 10vh;
    justify-content: center;
    flex-wrap: wrap;
    align-self: flex-end;
    //padding: 2rem;
    bottom: 0;
    //border: 3px solid turquoise;

    .link_list {
      display: flex;
      align-items: center;
      width: auto;
      height: 100%;
      justify-content: center;
      padding-left: 2rem;
      //border: 3px solid blue;

      .link {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: auto;
        height: 100%;
        position: relative;
        //border: 3px solid red;
        margin-right: 2rem;

        .link__txt {
          display: flex;
          align-items: center;
          width: auto;
          height: 100%;
          //border: 3px solid pink;
          p {
            font-size: 1rem;
            font-family: var(--nixie_one);
          }
        }

        .link__img {
          display: flex;
          align-items: center;
          width: 5rem;
          height: auto;
          justify-content: center;

          .__icon {
            width: 100%;
            height: auto;
            object-fit: cover;
            cursor: pointer;
            //border: 3px solid rgb(0, 255, 42);
          }
        }
      }
    }
  }
}

.footer__container {
  display: flex;
  height: 90vh;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
  //border: 3px solid rgb(244, 9, 9);
  // width:auto;

  .footer__bloc {
    height: auto;
    width: 100%;
    justify-content: center;
    display: flex;
    bottom: 0;
    padding: 2rem;
    height: 80%;
    border: 4px solid rgba(22, 123, 200, 1);
    align-items: center;

    .__bloc_container {
      height: 70%;
      width: 100%;
      justify-content: center;
      display: flex;
      border: 4px solid purple;

      .__bloc_content {
        display: flex;
        width: 78%;
        height: auto;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        //border: 3px solid #0505f6;
        //padding: 2rem;

        .google {
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
          //border: 4px solid blue;
        }

        .footer_list__content {
          display: flex;
          width: 100%;
          height: 100%;
          border: 4px solid rgb(66, 238, 14);
          //align-items: center;

          .footer_list__border {
            display: flex;
            transition: border-width ease-in;
            min-width: 100%;
            align-items: center;
            max-height: 25rem;
            position: relative;
            border: 2px solid transparent;
            flex-direction: column;
            padding: 3rem;
            justify-content: center;
            text-align: center;

            &::before,
            &::after {
              display: block;
              content: "";
              width: 40px;
              height: 40px;
              position: absolute;
            }

            &::before {
              top: -2px;
              left: -2px;
              border-top: 2px solid #000;
              border-left: 2px solid #000;
              transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
            }

            &::after {
              bottom: -2px;
              right: -2px;
              border-bottom: 2px solid #000;
              border-right: 2px solid #000;
              transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
            }

            &:hover::before,
            &:hover::after {
              width: 15%;
              height: 30%;
            }
          }
        }
      }

      .footer_infos {
        display: flex;
        width: 100%;
        //height: 20vh;
        //height: 18rem;
        bottom: 0;
        background-color: #fff;
        border: 5px solid limegreen;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        //pour desk position: fixed
        position: fixed;

        .footer_infos__container {
          display: flex;
          width: 100%;
          height: auto;
          //background-color: aliceblue;
          //border: 4px solid greenyellow;
          justify-content: center;
          //margin-top: 1rem;
          width: 80%;
          height: auto;

          .column {
            width: auto;
            height: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            padding: 1rem;
            border: 4px solid #fff;

            .column__title {
              display: flex;
              width: 99%;
              height: auto;
              height: 1.5rem;
              //border: 2px solid yellow;
              justify-content: center;
              text-align: center;

              h3 {
                font-size: 1rem;
                //margin-bottom: 1rem;
              }
            }

            ul {
              list-style-type: none;
              padding: 0;
              display: flex;
              flex-direction: column;
              width: 100%;
              border: 2px solid red;
              height: 100%;
              padding: 1rem;
              text-align: center;

              .__info {
                display: flex;
                width: 100%;
                height: 1rem;
                align-items: center;
                cursor: pointer;
                justify-content: center;
                border: 4px solid pink;

                &#__info_insta,
                &#__info_mail {
                  display: block;
                  width: 100%;
                  height: 100%;
                  border: 3px solid purple;
                  justify-content: flex-start;
                  position: relative;
                }

                #number {
                  font-size: 0.7rem;
                  //padding-top: 1rem;
                }

                .__img {
                  display: flex;
                  width: 3rem;
                  height: 100%;
                  justify-content: center;
                  border: 3px solid turquoise;
                  position: absolute;

                  .__icon {
                    object-fit: cover;
                    width: 100%;
                    height: auto;
                  }
                }

                .__txt {
                  display: flex;
                  align-items: center;
                  width: 100%;
                  height: 100%;
                  border: 4px solid rgb(255, 225, 0);
                  justify-content: center;

                  p {
                    font-size: 0.7rem;
                  }

                  // a {
                  //   display: flex;
                  //   //border: 2px solid red;
                  //   width: auto;
                  //   height: auto;
                  //   text-decoration: none;
                  //   //color: rgb(28, 9, 238);
                  //   &:hover {
                  //     color: rgb(238, 9, 188);
                  //   }
                  // }
                }

                // a {
                //   display: flex;
                //   //border: 2px solid red;
                //   width: auto;
                //   height: auto;
                //   text-decoration: none;
                //   //color: rgb(28, 9, 238);
                //   // &:hover {
                //   //   color: rgb(238, 9, 188);
                //   // }
                // }
              }

              .__info_adress_bloc {
                display: flex;
                width: 100%;
                height: 4rem;
                border: none;

                #adress {
                  line-height: 1.5;
                  cursor: default;
                  font-size: 0.7rem;
                }
              }
            }
          }
        }

        .__copyright {
          display: flex;
          flex-wrap: wrap;
          font-size: 10px;
          width: 100%;
          align-items: center;
          position: fixed;
          height: -2rem;
          justify-content: center;
          bottom: 0;
          /* padding: 1rem; */
          border: "2px solid red";
          align-content: center;
          height: 100%;
          position: relative;
        }
      }
    }
  }
}

///////////////////RESPONSIVE/////////////////
@media screen and (max-width: 1440px) {
  .footer__container {
    .footer__bloc {
      height: auto;
      width: 100%;
      justify-content: center;
      display: flex;
      bottom: 0;
      padding: 2rem;
      height: 80%;
      border: 4px solid rgba(22, 123, 200, 1);
      align-items: center;

      .__bloc_container {
        height: 70%;
        width: 100%;
        justify-content: center;
        display: flex;
        border: 4px solid purple;

        .__bloc_content {
          display: flex;
          width: 78%;
          height: auto;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          //border: 3px solid #0505f6;
          //padding: 2rem;

          .google {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            //border: 4px solid blue;
          }

          .footer_list__content {
            display: flex;
            width: 100%;
            height: 100%;
            border: 4px solid rgb(66, 238, 14);
            //align-items: center;

            .footer_list__border {
              display: flex;
              transition: border-width ease-in;
              width: 100%;
              align-items: center;
              max-height: 25rem;
              position: relative;
              border: 2px solid transparent;
              flex-direction: column;
              padding: 3rem;
              justify-content: center;
              text-align: center;

              &::before,
              &::after {
                display: block;
                content: "";
                width: 40px;
                height: 40px;
                position: absolute;
              }

              &::before {
                top: -2px;
                left: -2px;
                border-top: 2px solid #000;
                border-left: 2px solid #000;
                transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
              }

              &::after {
                bottom: -2px;
                right: -2px;
                border-bottom: 2px solid #000;
                border-right: 2px solid #000;
                transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
              }

              &:hover::before,
              &:hover::after {
                width: 15%;
                height: 30%;
              }
            }
          }
        }

        .footer_infos {
          display: flex;
          width: 100%;
          //height: 20vh;
          //height: 18rem;
          bottom: 0;
          background-color: #fff;
          border: 5px solid limegreen;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          //pour desk position: fixed
          position: fixed;

          .footer_infos__container {
            display: flex;
            width: 100%;
            height: auto;
            //background-color: aliceblue;
            //border: 4px solid greenyellow;
            justify-content: center;
            //margin-top: 1rem;
            width: 80%;
            height: auto;

            .column {
              width: auto;
              height: 100%;
              display: flex;
              flex-direction: column;
              position: relative;
              padding: 1rem;
              border: 4px solid #fff;

              .column__title {
                display: flex;
                width: 99%;
                height: auto;
                height: 1.5rem;
                //border: 2px solid yellow;
                justify-content: center;
                text-align: center;

                h3 {
                  font-size: 1rem;
                  //margin-bottom: 1rem;
                }
              }

              ul {
                list-style-type: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                width: 100%;
                border: 2px solid red;
                height: 100%;
                padding: 1rem;
                text-align: center;

                .__info {
                  display: flex;
                  width: 100%;
                  height: 1rem;
                  align-items: center;
                  cursor: pointer;
                  justify-content: center;
                  border: 4px solid pink;

                  &#__info_insta,
                  &#__info_mail {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border: 3px solid purple;
                    justify-content: flex-start;
                    position: relative;
                  }

                  #number {
                    font-size: 0.7rem;
                    //padding-top: 1rem;
                  }

                  .__img {
                    display: flex;
                    width: 3rem;
                    height: 100%;
                    justify-content: center;
                    border: 3px solid turquoise;
                    position: absolute;

                    .__icon {
                      object-fit: cover;
                      width: 100%;
                      height: auto;
                    }
                  }

                  .__txt {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    border: 4px solid rgb(255, 225, 0);
                    justify-content: center;

                    p {
                      font-size: 0.7rem;
                    }

                    // a {
                    //   display: flex;
                    //   //border: 2px solid red;
                    //   width: auto;
                    //   height: auto;
                    //   text-decoration: none;
                    //   //color: rgb(28, 9, 238);
                    //   &:hover {
                    //     color: rgb(238, 9, 188);
                    //   }
                    // }
                  }

                  // a {
                  //   display: flex;
                  //   //border: 2px solid red;
                  //   width: auto;
                  //   height: auto;
                  //   text-decoration: none;
                  //   //color: rgb(28, 9, 238);
                  //   // &:hover {
                  //   //   color: rgb(238, 9, 188);
                  //   // }
                  // }
                }

                .__info_adress_bloc {
                  display: flex;
                  width: 100%;
                  height: 4rem;
                  border: none;

                  #adress {
                    line-height: 1.5;
                    cursor: default;
                    font-size: 0.7rem;
                  }
                }
              }
            }
          }

          .__copyright {
            display: flex;
            flex-wrap: wrap;
            font-size: 10px;
            width: 100%;
            align-items: center;
            position: fixed;
            height: 2rem;
            justify-content: center;
            //background-color: rgb(232, 8, 206);
            bottom: 0;
            /* padding: 1rem; */
            border: "2px solid red";
            align-content: center;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .footer__header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    //background-color: aqua;
    z-index: 999;
    .link_infos {
      width: 50%;
      .link_list {
        .link {
          flex: 1 1 50px;
          margin: 10px;
          justify-content: center;
          .link__txt {
            display: none;
          }
          .link__img {
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            #phone {
              height: 40px;
              width: 40px;
            }
            .__icon {
              width: 100%;
              height: auto;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
  .footer__container {
    display: flex;
    //pour mobile height auto
    height: auto;

    background-color: #fff;
    //position: relative;
    margin-top: 2rem;
    .footer__bloc {
      height: auto;
      width: 100%;
      justify-content: center;
      display: flex;
      bottom: 0;
      padding: 2rem;
      height: 80%;
      border: 4px solid rgba(22, 123, 200, 1);
      align-items: center;

      .__bloc_container {
        height: 70%;
        width: 100%;
        justify-content: center;
        display: flex;
        border: 4px solid purple;

        .__bloc_content {
          display: flex;
          width: 78%;
          height: auto;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          //border: 3px solid #0505f6;
          //padding: 2rem;

          .google {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            //border: 4px solid blue;
          }

          .footer_list__content {
            display: flex;
            width: 100%;
            height: 100%;
            border: 4px solid rgb(66, 238, 14);
            //align-items: center;

            .footer_list__border {
              display: flex;
              transition: border-width ease-in;
              width: 100%;
              align-items: center;
              max-height: 25rem;
              position: relative;
              border: 2px solid transparent;
              flex-direction: column;
              padding: 3rem;
              justify-content: center;
              text-align: center;

              &::before,
              &::after {
                display: block;
                content: "";
                width: 40px;
                height: 40px;
                position: absolute;
              }

              &::before {
                top: -2px;
                left: -2px;
                border-top: 2px solid #000;
                border-left: 2px solid #000;
                transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
              }

              &::after {
                bottom: -2px;
                right: -2px;
                border-bottom: 2px solid #000;
                border-right: 2px solid #000;
                transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
              }

              &:hover::before,
              &:hover::after {
                width: 15%;
                height: 30%;
              }
            }
          }
        }

        .footer_infos {
          display: flex;
          width: 100%;
          //height: 20vh;
          //height: 18rem;
          bottom: 0;
          background-color: #fff;
          border: 5px solid limegreen;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          //pour desk position: fixed
          position: fixed;

          .footer_infos__container {
            display: flex;
            width: 100%;
            height: auto;
            //background-color: aliceblue;
            //border: 4px solid greenyellow;
            justify-content: center;
            //margin-top: 1rem;
            width: 80%;
            height: auto;

            .column {
              width: auto;
              height: 100%;
              display: flex;
              flex-direction: column;
              position: relative;
              padding: 1rem;
              border: 4px solid #fff;

              .column__title {
                display: flex;
                width: 99%;
                height: auto;
                height: 1.5rem;
                //border: 2px solid yellow;
                justify-content: center;
                text-align: center;

                h3 {
                  font-size: 1rem;
                  //margin-bottom: 1rem;
                }
              }

              ul {
                list-style-type: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                width: 100%;
                border: 2px solid red;
                height: 100%;
                padding: 1rem;
                text-align: center;

                .__info {
                  display: flex;
                  width: 100%;
                  height: 1rem;
                  align-items: center;
                  cursor: pointer;
                  justify-content: center;
                  border: 4px solid pink;

                  &#__info_insta,
                  &#__info_mail {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border: 3px solid purple;
                    justify-content: flex-start;
                    position: relative;
                  }

                  #number {
                    font-size: 0.7rem;
                    //padding-top: 1rem;
                  }

                  .__img {
                    display: flex;
                    width: 3rem;
                    height: 100%;
                    justify-content: center;
                    border: 3px solid turquoise;
                    position: absolute;

                    .__icon {
                      object-fit: cover;
                      width: 100%;
                      height: auto;
                    }
                  }

                  .__txt {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    border: 4px solid rgb(255, 225, 0);
                    justify-content: center;

                    p {
                      font-size: 0.7rem;
                    }

                    // a {
                    //   display: flex;
                    //   //border: 2px solid red;
                    //   width: auto;
                    //   height: auto;
                    //   text-decoration: none;
                    //   //color: rgb(28, 9, 238);
                    //   &:hover {
                    //     color: rgb(238, 9, 188);
                    //   }
                    // }
                  }

                  // a {
                  //   display: flex;
                  //   //border: 2px solid red;
                  //   width: auto;
                  //   height: auto;
                  //   text-decoration: none;
                  //   //color: rgb(28, 9, 238);
                  //   // &:hover {
                  //   //   color: rgb(238, 9, 188);
                  //   // }
                  // }
                }

                .__info_adress_bloc {
                  display: flex;
                  width: 100%;
                  height: 4rem;
                  border: none;

                  #adress {
                    line-height: 1.5;
                    cursor: default;
                    font-size: 0.7rem;
                  }
                }
              }
            }
          }

          .__copyright {
            display: flex;
            flex-wrap: wrap;
            font-size: 10px;
            width: 100%;
            align-items: center;
            position: fixed;
            height: 2rem;
            justify-content: center;
            //background-color: rgb(232, 8, 206);
            bottom: 0;
            /* padding: 1rem; */
            border: "2px solid red";
            align-content: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer__header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    //background-color: aqua;
    z-index: 999;
    .link_infos {
      width: 50%;
      .link_list {
        .link {
          flex: 1 1 50px;
          margin: 10px;
          justify-content: center;
          .link__txt {
            display: none;
          }
          .link__img {
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            #phone {
              //border: 3px solid yellow;
              width: 40px;
            }
            .__icon {
              width: 100%;
              height: auto;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
  .footer__container {
    display: flex;
    //pour mobile height auto
    height: auto;
    background-color: #fff;
    margin-top: 2rem;
    .footer__bloc {
      height: auto;
      width: 100%;
      justify-content: center;
      display: flex;
      bottom: 0;
      padding: 2rem;
      height: 80%;
      border: 4px solid rgba(22, 123, 200, 1);
      align-items: center;

      .__bloc_container {
        height: 70%;
        width: 100%;
        justify-content: center;
        display: flex;
        border: 4px solid purple;

        .__bloc_content {
          display: flex;
          width: 78%;
          height: auto;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          //border: 3px solid #0505f6;
          //padding: 2rem;

          .google {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            //border: 4px solid blue;
          }

          .footer_list__content {
            display: flex;
            width: 100%;
            height: 100%;
            border: 4px solid rgb(66, 238, 14);
            //align-items: center;

            .footer_list__border {
              display: flex;
              transition: border-width ease-in;
              width: 100%;
              align-items: center;
              max-height: 25rem;
              position: relative;
              border: 2px solid transparent;
              flex-direction: column;
              padding: 3rem;
              justify-content: center;
              text-align: center;

              &::before,
              &::after {
                display: block;
                content: "";
                width: 40px;
                height: 40px;
                position: absolute;
              }

              &::before {
                top: -2px;
                left: -2px;
                border-top: 2px solid #000;
                border-left: 2px solid #000;
                transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
              }

              &::after {
                bottom: -2px;
                right: -2px;
                border-bottom: 2px solid #000;
                border-right: 2px solid #000;
                transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
              }

              &:hover::before,
              &:hover::after {
                width: 15%;
                height: 30%;
              }
            }
          }
        }

        .footer_infos {
          display: flex;
          width: 100%;
          //height: 20vh;
          //height: 18rem;
          bottom: 0;
          background-color: #fff;
          border: 5px solid limegreen;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          //pour desk position: fixed
          position: fixed;

          .footer_infos__container {
            display: flex;
            width: 100%;
            height: auto;
            //background-color: aliceblue;
            //border: 4px solid greenyellow;
            justify-content: center;
            //margin-top: 1rem;
            width: 80%;
            height: auto;

            .column {
              width: auto;
              height: 100%;
              display: flex;
              flex-direction: column;
              position: relative;
              padding: 1rem;
              border: 4px solid #fff;

              .column__title {
                display: flex;
                width: 99%;
                height: auto;
                height: 1.5rem;
                //border: 2px solid yellow;
                justify-content: center;
                text-align: center;

                h3 {
                  font-size: 1rem;
                  //margin-bottom: 1rem;
                }
              }

              ul {
                list-style-type: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                width: 100%;
                border: 2px solid red;
                height: 100%;
                padding: 1rem;
                text-align: center;

                .__info {
                  display: flex;
                  width: 100%;
                  height: 1rem;
                  align-items: center;
                  cursor: pointer;
                  justify-content: center;
                  border: 4px solid pink;

                  &#__info_insta,
                  &#__info_mail {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border: 3px solid purple;
                    justify-content: flex-start;
                    position: relative;
                  }

                  #number {
                    font-size: 0.7rem;
                    //padding-top: 1rem;
                  }

                  .__img {
                    display: flex;
                    width: 3rem;
                    height: 100%;
                    justify-content: center;
                    border: 3px solid turquoise;
                    position: absolute;

                    .__icon {
                      object-fit: cover;
                      width: 100%;
                      height: auto;
                    }
                  }

                  .__txt {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    border: 4px solid rgb(255, 225, 0);
                    justify-content: center;

                    p {
                      font-size: 0.7rem;
                    }

                    // a {
                    //   display: flex;
                    //   //border: 2px solid red;
                    //   width: auto;
                    //   height: auto;
                    //   text-decoration: none;
                    //   //color: rgb(28, 9, 238);
                    //   &:hover {
                    //     color: rgb(238, 9, 188);
                    //   }
                    // }
                  }

                  // a {
                  //   display: flex;
                  //   //border: 2px solid red;
                  //   width: auto;
                  //   height: auto;
                  //   text-decoration: none;
                  //   //color: rgb(28, 9, 238);
                  //   // &:hover {
                  //   //   color: rgb(238, 9, 188);
                  //   // }
                  // }
                }

                .__info_adress_bloc {
                  display: flex;
                  width: 100%;
                  height: 4rem;
                  border: none;

                  #adress {
                    line-height: 1.5;
                    cursor: default;
                    font-size: 0.7rem;
                  }
                }
              }
            }
          }

          .__copyright {
            display: flex;
            flex-wrap: wrap;
            font-size: 10px;
            width: 100%;
            align-items: center;
            position: fixed;
            height: 2rem;
            justify-content: center;
            //background-color: rgb(232, 8, 206);
            bottom: 0;
            /* padding: 1rem; */
            border: "2px solid red";
            align-content: center;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .footer__header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    //background-color: aqua;
    z-index: 999;
    .link_infos {
      width: 50%;
      .link_list {
        .link {
          flex: 1 1 50px;
          margin: 10px;
          justify-content: center;
          .link__txt {
            display: none;
          }
          .link__img {
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            #phone {
              //border: 3px solid yellow;
              width: 40px;
            }
            .__icon {
              width: 100%;
              height: auto;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
  .footer__container {
    display: flex;
    height: auto;
    background-color: #fff;
    margin-top: 2rem;
    .footer__bloc {
      padding: 0;
      height: 100%;

      .__bloc_container {
        width: auto;
        justify-content: center;
        border: 4px solid rgb(0, 128, 26);
        flex-direction: column;
        align-items: center;

        .__bloc_content {
          flex-direction: column;
          width: 100%;

          .google {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            //border: 4px solid blue;
          }

          .footer_list__content {
            display: flex;
            width: 100%;
            height: 100%;
            border: 4px solid rgb(66, 238, 14);
            //align-items: center;

            .footer_list__border {
              padding: 1rem;
              margin: 2rem 0;

              &::before,
              &::after {
                display: block;
                content: "";
                width: 40px;
                height: 40px;
                position: absolute;
              }

              &::before {
                top: -2px;
                left: -2px;
                border-top: 2px solid #000;
                border-left: 2px solid #000;
                transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
              }

              &::after {
                bottom: -2px;
                right: -2px;
                border-bottom: 2px solid #000;
                border-right: 2px solid #000;
                transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
              }

              &:hover::before,
              &:hover::after {
                width: 15%;
                height: 30%;
              }
            }
          }
        }

        .footer_infos {
          display: flex;
          width: 100%;
          //height: 20vh;
          //height: 18rem;
          bottom: 0;
          background-color: #fff;
          border: 5px solid limegreen;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          //pour desk position: fixed
          position: relative;

          .footer_infos__container {
            flex-direction: column;

            .column {
              width: auto;
              height: 100%;
              display: flex;
              flex-direction: column;
              position: relative;
              padding: 1rem;
              border: 4px solid #fff;

              .column__title {
                display: flex;
                width: 99%;
                height: auto;
                height: 1.5rem;
                //border: 2px solid yellow;
                justify-content: center;
                text-align: center;

                h3 {
                  font-size: 1rem;
                  //margin-bottom: 1rem;
                }
              }

              ul {
                list-style-type: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                width: 100%;
                border: 2px solid red;
                height: 100%;
                padding: 1rem;
                text-align: center;

                .__info {
                  display: flex;
                  width: 100%;
                  height: 1rem;
                  align-items: center;
                  cursor: pointer;
                  justify-content: center;
                  border: 4px solid pink;

                  // &#__info_insta,
                  // &#__info_mail {
                  //   display: block;
                  //   width: 100%;
                  //   height: 100%;
                  //   border: 3px solid purple;
                  //   justify-content: flex-start;
                  //   position: relative;
                  // }

                  // #number {
                  //   font-size: 0.7rem;
                  //   //padding-top: 1rem;
                  // }

                  // .__img {
                  //   display: flex;
                  //   width: 3rem;
                  //   height: 100%;
                  //   justify-content: center;
                  //   border: 3px solid turquoise;
                  //   position: absolute;

                  //   .__icon {
                  //     object-fit: cover;
                  //     width: 100%;
                  //     height: auto;
                  //   }
                  // }

                  // .__txt {
                  //   display: flex;
                  //   align-items: center;
                  //   width: 100%;
                  //   height: 100%;
                  //   border: 4px solid rgb(255, 225, 0);
                  //   justify-content: center;

                  //   p {
                  //     font-size: 0.7rem;
                  //   }

                  //   // a {
                  //   //   display: flex;
                  //   //   //border: 2px solid red;
                  //   //   width: auto;
                  //   //   height: auto;
                  //   //   text-decoration: none;
                  //   //   //color: rgb(28, 9, 238);
                  //   //   &:hover {
                  //   //     color: rgb(238, 9, 188);
                  //   //   }
                  //   // }
                  // }
                }

                // .__info_adress_bloc {
                //   display: flex;
                //   width: 100%;
                //   height: 4rem;
                //   border: none;

                //   #adress {
                //     line-height: 1.5;
                //     cursor: default;
                //     font-size: 0.7rem;
                //   }
                // }
              }
            }
          }

          .__copyright {
            position: relative;
          }
        }
      }
    }
  }
}
