$footer-height: 700px; // Variable pour la hauteur du footer
$footer-color: #000; // Variable pour la couleur du texte
$background-color: #fff; // Variable pour la couleur de fond

.footer__header {
  width: 100%;
  display: flex;
  justify-content: center;
  // margin: 1rem;
  border: 4px solid red;
  //height: 9rem;
  // h1 {
  //   font-size: 2rem;
  //   font-family: var(--nixie_one);
  //   letter-spacing: 2px;
  // }
  .link_infos {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
    // margin-top: 2rem;
    align-self: flex-end;
    padding: 2rem;

    .link_list {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      justify-content: center;

      .link {
        display: flex;
        align-items: center;
        //border: 3px solid turquoise;
        //margin: 2rem;
        justify-content: flex-end;
        width: auto;
        height: auto;
        position: relative;

        .link__txt {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
          p {
            font-size: 1.5rem;
            font-family: var(--nixie_one);
          }
          &#phone {
            display: block;
            width: 17rem;
            text-align: start;
          }
          &#mail {
            display: block;
            width: 28rem;
            text-align: start;
          }
          &#insta {
            display: block;
            width: 29rem;
            text-align: start;
          }
          &#gps {
            display: block;
            width: 30rem;
            text-align: start;
          }
        }
        .link__img {
          display: flex;
          align-items: center;
          //border: 3px solid red;
          position: absolute;
          justify-content: flex-end;
          width: 100%;

          .__icon {
            width: auto;
            height: auto;
            object-fit: cover;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.footer__container {
  display: flex;
  //position: relative;
  // height: $footer-height;
  height: 90vh;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%); // rectangle
  border: 3px solid blue;
  flex-wrap: wrap;
  background-color: pink;

  .footer__bloc {
    position: fixed;
    height: 100vh;
    width: 100%;
    bottom: 0;
    color: $footer-color;
    background-color: $background-color;
    color: $footer-color;
    display: flex;
    border: 5px solid red;
    top: 0;

    .google {
      display: flex;
      width: 100%;
      height: 100%;
      border: 3px solid turquoise;
      padding-bottom: 1rem;
    }

    .footer_list {
      display: flex;
      flex-direction: column;
      border: 3px solid fuchsia;
      list-style: none;
      // width: 24rem;
      width: 50%;
      height: auto;
      justify-content: center;

      p {
        font-size: 1rem;
      }

      li {
        width: 24rem;
        height: auto;
        //padding: 2rem;
        margin: 5px 0;
        //border: 3px solid pink;
        display: flex;
      }

      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .footer_infos {
      display: flex;
      width: 100%;
      height: auto;
      position: absolute;
      bottom: 0;
      padding-left: 2rem;
      align-items: center;
      background-color: aliceblue;
      border: 4px solid red;

      .column {
        flex: 1;
        padding: 10px;

        h3 {
          margin-bottom: 10px;
        }

        ul {
          list-style-type: none;
          padding: 0;

          li {
            margin-bottom: 5px;
            display: flex;
            width: 100%;
            height: 100%;
            border: 3px solid black;
            align-items: center;
            cursor: pointer;

            a {
              display: flex;
            }
            .__img {
              display: flex;
              width: 100%;
              height: 100%;
              // border: 3px solid red;
              justify-content: center;
              .__icon {
                object-fit: contain;
              }
              #bubble {
                margin: 12px 12px 12px 21px;
              }
            }
            .__txt {
              display: flex;
              align-items: center;
              p {
                font-size: 1rem;
              }
              &:hover {
                text-decoration: underline;
                color: rgb(232, 12, 199);
              }
            }
          }
        }
      }
    }
  }
}
