@import url("https://fonts.googleapis.com/css2?family=Lato, Courier+Prime, Nixie+One, Mulish:wght@400;500;700&display=swap");

:root {
  --max-width: 1100px;
}

.lato {
  font-family: var(--lato);
  font-style: normal;
}
.courier_prime {
  font-family: var(--courier_prime);
  font-style: normal;
}

.nixie_one {
  font-family: var(--nixie_one);
  font-style: normal;
}

.mulish {
  font-family: var(--mulish);
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  line-height: 1.5;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

a {
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}

h1 {
  font-size: 4.5rem;
  color: #000;
  height: 4.5rem;
}

h2 {
  font-size: 1.7rem;
  line-height: 1.5;
  font-weight: lighter;
  color: #161616;
  font-family: var(--nixie_one);
}

p {
  font-size: 1rem;
  font-weight: lighter;
  font-family: var(--nixie_one);
  /* line-height: 1.5; */
  color: #000;
}

ul {
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style-type: none;
}

.home {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}
.content_horizontal {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

#hero {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

/* //////////// RESPONSIVE //////////////// */
@media (max-width: 1024px) {
  #hero {
    display: flex;
    width: 100vw;
    height: 45vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
}
@media (max-width: 820px) {
  #hero {
    display: flex;
    width: 95vw;
    height: 40vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
}
@media (max-width: 768px) {
  #hero {
    display: flex;
    width: 95vw;
    height: 40vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
}

@media (max-width: 500px) {
  #hero {
    display: flex;
    width: 95vw;
    height: 32vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
}
