.section1 {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  .section1__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: hidden;
  }

  .section1__bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    text-align: center;
    // overflow-y: hidden;
    border: 4px solid violet;

    .section1__image_logo {
      display: block;
      position: relative;
      //border: 4px solid red;
      width: 52rem;
      height: 35rem;
      .__img {
        object-fit: cover;
      }
    }
    .section1__text_header {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      text-align: center;

      h1 {
        font-size: 4.5rem;
        color: #000;
        font-weight: bold;
        //font-family: var(--cormorant_garamond);
        //font-family: var(--nixie_one);
        //font-family: var(--courier-prime);
        word-spacing: -0.1ch;
      }
    }

    .text_bloc__info {
      text-align: center;
      margin-bottom: 2rem;
      // p {
      //   font-family: var(--cormorant_garamond);
      //   //fontFamily: "var(--nixie_one)",
      //   //fontFamily: "var(--courier-prime); ",
      // }
    }
  }

  .__text_bloc_philo {
    text-align: center;
    p {
      font-size: 1.3rem;
      line-height: 1.5;
    }
  }
}

.arrow_see_more {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: 100%;
  position: relative;
  top: 4rem;
  cursor: pointer;
  transition: transform 0.3s ease; // Animation on hover

  &.right {
    position: absolute;
    display: flex;
    right: 0;
    margin-right: 2rem;
    top: 0;
  }

  .__arrow_right {
    display: block;
    object-fit: cover;
    transform-origin: center;

    &:hover {
      transform: scale(1.1);
    }
  }

  .__arrow_right__text {
    display: block;
    text-align: center;
    position: absolute;
    margin-top: 6.8rem;
    p {
      font-size: 1.4rem;
      font-family: var(--courier-prime);
      font-weight: 700;
    }
  }
}

////////////////RESPONSIVE/////////////////
// Media Queries for Responsive Design

//  (up to 1200px)
@media screen and (min-width: 1200px) {
  //   .section1__image_logo {
  //     display: flex;
  //     justify-content: center;
  //     position: relative;
  //     width: 300px;
  //     height: 300px;

  //     border: 4px solid blue;
  //     .__img {
  //       object-fit: cover;
  //     }
  //   }
  .section1__text_header h1 {
    font-size: 2rem;
    color: red;
  }

  .__text_bloc__info,
  .__text_bloc_philo {
    font-size: 0.9rem;
  }
}

// Mobile (up to 480px)
@media (max-width: 480px) {
  .section1__text_header h1 {
    font-size: 1.8rem;
  }

  .__text_bloc__info,
  .__text_bloc_philo {
    font-size: 0.8rem;
  }
}
