.nav__item {
  display: flex;
  font-size: 22px;
  padding: 8px 16px;
  color: #333;
  text-decoration: none;
  position: relative;

  width: 12rem;
  text-align: center;
  justify-content: center;

  &:hover {
    font-weight: bold;
    color: gray;
  }

  &::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: gray;
    transition: width 0.3s;
  }

  &:hover::before {
    width: 100%;
  }
}

.active {
  font-weight: bold;
  color: gray;

  &::before {
    width: 100%;
  }
}
